XML.Rcheck/XML/exampleData/DatasetByRecord.dtd

<!--  -->
<!ELEMENT record  ( #PCDATA )  >
<!ELEMENT variables ( variable )* >
<!ELEMENT variable ( #PCDATA ) >

<!ELEMENT dataset ( variables, (record)* ) >
<!ATTLIST dataset 
     name        CDATA #REQUIRED
     numRecords  CDATA #IMPLIED
     source      CDATA #IMPLIED
>

<!ATTLIST  variables 
      count CDATA #IMPLIED
>

<!ATTLIST record
     id CDATA #REQUIRED
>

 <!-- Allow the name to be specified as an attribute -->
<!ATTLIST  variable
   type   CDATA #IMPLIED
   levels CDATA #IMPLIED
   unit   CDATA #IMPLIED
>
